$serif-font: 'Lora', 'Times New Roman', serif;
$sans-font: 'Open Sans', 'Helvetica', sans-serif;
$mono-font: 'Monaco', monospace;

/*Colour Scheme: Ocean Five - http://bit.ly/9oo0N3 */

$colour_1   : #00A0B0;
$colour_1_b : #CDF5F9;
$colour_2   : #6A4A3C;
$colour_3   : #CC333F;
$colour_4   : #EB6841;
$colour_5   : #EDC951;
$colour_5_b : #FEF7E0;
$colour_link: #0645AD;

$colour_page_bg: #59A5A5;
$colour_page_bg_highlight: #478484;

$colour_page_link: #0161FD;
$colour_page_link_other: #0126FD;

$colour_cover_bg: #00A0B0;
$colour_cover_fg: #FEF7E0;
$colour_cover_fg: #fff;

$colour_bg: #333;
$colour_bg_highlight: #111;
$colour_bg_other: #432;
$colour_fg: #fff;
$colour_fg_highlight: rgba(255, 255, 255, 0.8);
$colour_fg_other: #def;

$colour_highlight: #EDC951;
$colour_lowlight: #FEF7E0;
