$serif-font: 'Lora', 'Times New Roman', serif;
$sans-font: 'Open Sans', 'Helvetica', sans-serif;

/*Colour Scheme: Ocean Five - http://bit.ly/9oo0N3 */

$colour_1   : #00A0B0;
$colour_1_b : #CDF5F9;
$colour_2   : #6A4A3C;
$colour_3   : #CC333F;
$colour_4   : #EB6841;
$colour_5   : #EDC951;
$colour_5_b : #FEF7E0;
$colour_link: #0645AD;
