$serif-font: 'Lora', 'Times New Roman', serif;
$sans-font: 'Open Sans', 'Helvetica', sans-serif;
$mono-font: 'Monaco', monospace;

/*Colour Scheme: Royale - http://bit.ly/9oo0N3 */
$colour_1: #E63946;
$colour_2: #F1FAEE;
$colour_3: #A8DADC;
$colour_4: #457B9D;
$colour_5: #1D3557;
$colour_2_fade: rgba(241, 250, 238, 0.8);
$colour_grey: #333336;
$colour_grey_dark: #222;

$colour_page_bg: $colour_5;
$colour_page_bg_highlight: $colour_2;

$colour_page_link: #0161FD;
$colour_page_link_other: #0126FD;

$colour_cover_bg: $colour_4;
$colour_cover_fg: $colour_2;

$colour_nav_bg: $colour_grey;
$colour_nav_bg_highlight: $colour_grey_dark;
$colour_nav_fg: $colour_2;
$colour_nav_fg_highlight: $colour_2_fade;

$colour_blockquote_fg: $colour_3;
$colour_blockquote_bg: $colour_3;
$colour_blockquote_bg_highlight: $colour_1;

$colour_code_fg: $colour_2;
$colour_code_bg: $colour_5;
$colour_code_border: $colour_4;
