node_modules
/.pnp
.pnp.js
.cache
tsconfig.tsbuildinfo

.DS_Store
!.github/

.yarn
.yarnrc.yml

# next.js
/.next/
/out/

# We generate the following files via the prebuild script
public/sitemap.xml
public/blog/index.xml
