<footer class="navbar navbar-custom navbar-static-bottom">
  <div class="container">

    <div class="navbar">
      <ul class="nav navbar-nav navbar-left footer-bubble">
        <li class="footer-bubble">
          <a href="/LICENSE.html" title="link to this site's Creative Commons License"><i class="fa fa-creative-commons fa-3x"></i></a>
        </li>

        <li class="footer-bubble">
          <a href="/feed.xml" title="the feed for this site"><i class="fa fa-rss fa-3x"></i></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="footer-bubble">
          <a href="http://github.com/hockeybuggy/hockeybuggy.github.io" title="link to this site's source in github"><i class="fa fa-github fa-3x"></i></a>
        </li>

        <li class="footer-bubble">
          <a href="http://twitter.com/hockeybuggy/" title="link to my twitter"><i class="fa fa-twitter fa-3x"></i></a>
        </li>
      </ul>
    </div>

  </div><!-- /.container -->
</footer>
