<footer class="navbar navbar-custom navbar-static-bottom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
      <a class="navbar-brand" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" src="http://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by.svg"/>
      </a>

    </div>

    <div class="navbar">
      <ul class="nav navbar-nav navbar-right">
          <li class="footer-bubble">
            <a href="http://github.com/hockeybuggy/hockeybuggy.github.io" title="link to this site's source in github"><i class="fa fa-github fa-3x"></i></a>
          </li>

          <li class="footer-bubble">
            <a href="http://twitter.com/hockeybuggy/" title="link to my twitter"><i class="fa fa-twitter fa-3x"></i></a>
          </li>

          <li class="footer-bubble">
            <a href="/feed.xml" title="the feed for this site"><i class="fa fa-rss fa-3x"></i></a>
          </li>
      </ul>
    </div>
  </div><!-- /.container -->
</footer>
