<!-- Static navbar stolen from the bootstrap project-->
<header>
  <nav class="navbar navbar-custom navbar-static-top">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">Hockeybuggy</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
