.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  article {
    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;
      h1 {
        font-size: 4.2rem;
        line-height: 4.6rem;
        margin: 0;
        @media only screen and (max-width: $small-max-width) {
          font-size: 4rem;
          line-height: 4.4rem;
        }
      }
    }

    footer {
      margin-top: 4rem;
      .see-also {
        margin: 3.2rem 0;
        h3 {
          margin: 3.2rem 0;
        }
      }
    }

    p {
      text-align: justify;
      text-justify: auto;
      hyphens: auto;
    }
  }

  .post {
    .post-title {
      margin-bottom: 0.75em;
    }

    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }

      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }
    }
  }

  figure {
    margin: 0;
    padding: 0;
  }

  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;

    li {
      font-size: 1.8rem;
      @media only screen and (max-width: $small-max-width) {
        margin: 1.6rem 0 1.6rem 0;
      }

      .date {
        display: inline-block;
        width: 20rem;
        text-align: right;
        margin-right: 3rem;
        @media only screen and (max-width: $small-max-width) {
          display: block;
          text-align: left;
        }
      }

      .title {
        font-size: 1.8rem;
        color: $fg-color;
        font-family: $heading-font-family;
        font-weight: 700;
        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }
  }
}

img {
  padding: 1rem;
  width: 100%;
}

.icon {
  display: inline-block;
}
