.avatar {
  width: 20rem;
  height: auto;
  margin: 0 auto;

  img {
    border-radius: 50%;
    @media only screen and (max-width: $small-max-width) {
      width: 10rem;
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  padding: 1rem;
  width: 100%;
}

.icon {
  display: inline-block;
}

.about {
  text-align: center;

  h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
    @media only screen and (max-width: $small-max-width) {
      font-size: 2rem;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 3rem 0 1rem 0;
    padding: 0;

    li {
      width: 64px;
      height: 64px;

      a {
        color: $fg-color;
        text-transform: uppercase;
        font-size: 1.6rem;
        &:hover,
        &:focus {
          color: $link-color;
        }
        @media only screen and (max-width: $small-max-width) {
          font-size: 1.4rem;
        }
        i {
          font-size: 3.2rem;
        }
      }
    }
  }
}
