kbd {  /* Stolen from SO: http://meta.superuser.com/q/4788 */
  -moz-border-radius:3px;
  -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  background-color:#f7f7f7;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  color:#333;
  display:inline-block;
  font-family: $mono-font;
  font-size:11px;
  line-height:1.4;
  margin:0 .1em;
  padding:.1em .6em;
  text-shadow:0 1px 0 #fff;
}

/*****************************************************************************/
/*
/* Site styles
/*
/*****************************************************************************/

.meta {
  font-family: $sans-font;
}

#content-container {
  padding: 0;
  background-color: $colour_page_bg_highlight;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}

.page-header {
  background: no-repeat center center;
  background-color: $colour_cover_bg;
  background-attachment: scroll;
  background-size: cover;

  margin: 0 0 2em 0;

  .site-heading,
  .post-heading,
  .page-heading {
    text-align: center;
    padding: 75px 0 50px;
    color: $colour_cover_fg;
  }
}


.footer-bubble {
  text-align: center;
}

#footer-container {
  padding-left: 0;
}


article img {
  width:100%
}

blockquote {
  background: white;
  border-left: 10px solid grey;
  font-style: italic;
  padding: 5px;
}

.keysequence {
  text-align: center;
}
