
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="The personal page of Douglas Anderson">
  <title>Hockeybuggy.com</title>
  <meta name="viewport" content="width=device-width">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">

  <link rel="author" href="/humans.txt">

  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">

  <link rel="icon" href="/static/img/favicon.ico" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=2*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-11131562-1', 'auto');
    ga('send', 'pageview');

  </script>

  <script src="/static/js/vendor/jquery-2.2.0.js"></script>
  <script src="/static/js/vendor/bootstrap-3.3.6.js"></script>
</head>

<body>
<!-- Static navbar stolen from the bootstrap project docs-->
<nav class="navbar navbar-custom navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">

     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
       data-target="#menu-collapse-header" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">{{ site.name }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <header class="collapse navbar-collapse" id="menu-collapse-header">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/blog">Blog</a></li>
      </ul>
    </header>
  </div><!-- /.container -->
</nav>

<div role="main" class="container" id="content-container">
</div>

<footer class="navbar navbar-custom navbar-static-bottom">
  <div id="footer-container" class="container">

    <ul class="nav navbar-nav navbar-left footer-bubble">
      <li class="footer-bubble">
        <a href="/LICENSE.html" title="link to this site's Creative Commons License"><i class="fa fa-creative-commons fa-3x"></i></a>
      </li>

      <li class="footer-bubble">
        <a href="/feed.xml" title="the feed for this site"><i class="fa fa-rss fa-3x"></i></a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="footer-bubble">
        <a href="https://github.com/hockeybuggy/hockeybuggy.github.io" title="link to this site's source in github"><i class="fa fa-github fa-3x"></i></a>
      </li>

      <li class="footer-bubble">
        <a href="https://twitter.com/hockeybuggy/" title="link to my twitter"><i class="fa fa-twitter fa-3x"></i></a>
      </li>
    </ul>

  </div><!-- /.container -->
</footer>
</body>
</html>
