<!DOCTYPE html>
<html>
    <head>
        <title>hockeybuggy.com | {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="description" content="The personal page of Douglas Anderson">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

        <link rel="author" href="humans.txt">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/static/css/syntax.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/static/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/static/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">

        <link rel="icon" href="{{ site.url }}/static/img/favicon.ico" />

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11131562-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>
    <body>

        <div class="container">
          <div class="site">

            <div class="header">
              <div class="title-container">
                <a class="title" href="/">&nbsp;{{ site.name }}</a>
              </div>
              <div class="header-container">
                <ul>
                  <li><a class="extra" href="/wpotd">wpotd</a></li>
                  <li><a class="extra" href="/misc">misc</a></li>
                  <li><a class="extra" href="/about.html">about</a></li>
                  <li><a class="extra" href="/contact.html">contact</a></li>
                </ul>
              </div>
              <div class="divider"></div>
            </div>

            <div class="content">
                {{ content }}
            </div>

            <div class="footer">
              <div class="divider"></div>
              <div class="contact">
                <p>
                  Douglas Anderson<br />
                  hockeybuggy&#64;gmail.com
                </p>
              </div>
              <div class="bubble">
                  <a href="http://github.com/hockeybuggy/"><i class="icon-github icon-3x"></i></a>
              </div>
              <div class="bubble">
                  <a href="http://twitter.com/hockeybuggy/"><i class="icon-twitter icon-3x"></i></a>
              </div>
              <div class="bubble">
                  <a href="{{ site.url }}/feed.xml"><i class="icon-rss icon-3x"></i></a>
              </div>
            </div>

          </div> <!-- end .site -->
        </div> <!-- end .container -->

    </body>
</html>
