.footer {
  width: 100%;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 1rem;

  i {
    width: 1.6rem;
  }

  #footer--first-line {
    font-size: 1.1rem;
    p {
      margin: 0;
    }
  }

  #footer--second-line {
    display: flex;
    justify-content: center;
    font-family: $code-font-family;
    span,
    a {
      display: flex;
      padding: 0 0.5rem;
      min-width: 28px;
      min-height: 22px;
    }
  }
}
