.avatar {
  width: 20rem;
  height: auto;
  min-height: 20rem;
  margin: 0 auto;
  position: relative;

  img {
    border-radius: 50%;
    position: relative;
    left: 0;
    top: 0;
  }

  .placeholder {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    width: 20rem;
    height: auto;
    min-height: 20rem;
    border-radius: 50%;
    background-color: #9697a9;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
}

.about {
  text-align: center;

  h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
    @media only screen and (max-width: $small-max-width) {
      font-size: 2rem;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    list-style: none;
    margin: 3rem 0 1rem 0;
    width: 256px;
    padding: 0;

    li {
      width: 64px;
      height: 64px;

      a {
        color: $light-fg-color;
        text-transform: uppercase;
        font-size: 1.6rem;
        &:hover,
        &:focus {
          color: $light-link-color;
        }
        @media only screen and (max-width: $small-max-width) {
          font-size: 1.4rem;
        }
        @media (prefers-color-scheme: dark) {
          color: $dark-fg-color;
          &:hover,
          &:focus {
            color: $dark-link-color;
          }
        }
        i {
          font-size: 3.2rem;
        }
      }
    }
  }
}
