.navigation {
  height: 6rem;
  width: 100%;

  a,
  span {
    display: inline;
    font-size: 1.6rem;
    font-family: $heading-font-family;
    font-weight: 700;
    line-height: 6rem;
    color: $light-fg-color;
  }

  a {
    &:hover,
    &:focus {
      color: $light-link-color;
    }
  }

  @media (prefers-color-scheme: dark) {
    a,
    span {
      color: $dark-fg-color;
    }

    a {
      &:hover,
      &:focus {
        color: $dark-link-color;
      }
    }
  }

  .navigation-title {
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    &.active {
      text-decoration: underline;
    }
  }

  .navigation-list {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    visibility: visible;

    @media only screen and (max-width: $small-max-width) {
      position: absolute;
      top: 6rem;
      right: 0;
      z-index: 5;
      padding: 0;
      width: 100%;
      background-color: $light-bg-color;
      border-top: solid 2px $light-alt-bg-color;
      border-bottom: solid 2px $light-alt-bg-color;
      transition: opacity 0.25s, max-height 0.15s linear;

      &[data-expanded="false"] {
        visibility: hidden;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $dark-bg-color;
        border-top: solid 2px $dark-alt-bg-color;
        border-bottom: solid 2px $dark-alt-bg-color;
      }
    }

    .navigation-item {
      float: left;
      margin: 0;
      position: relative;

      @media only screen and (max-width: $small-max-width) {
        border-top: solid 1px $light-alt-bg-color;
        float: none !important;
        text-align: center;
        a,
        span {
          line-height: 5rem;
        }

        @media (prefers-color-scheme: dark) {
          border-top: solid 1px $dark-alt-bg-color;
        }
      }

      a,
      span {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
        &[aria-current="page"] {
          text-decoration: underline;
        }
      }
    }

    .menu-separator {
      @media only screen and (max-width: $small-max-width) {
        border-top: 2px solid $light-fg-color;
        margin: 0 8rem;
        span {
          display: none;
        }

        @media (prefers-color-scheme: dark) {
          border-top: 2px solid $dark-alt-bg-color;
        }
      }
    }
  }

  .menu-button {
    display: none;
    background: none;
    border: none;

    float: right;

    @media only screen and (max-width: $small-max-width) {
      display: block;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 6rem;
      color: $light-fg-color;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $light-link-color;
      }

      @media (prefers-color-scheme: dark) {
        color: $dark-fg-color;
        &:hover,
        &:focus {
          color: $dark-link-color;
        }
      }
    }

    i {
      max-width: 2rem;
    }
  }
}
