// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: "Inconsolata", monospace;

// Colours
$bg-color: #fafafa !default;
$fg-color: #212121 !default;
$alt-bg-color: #e0e0e0 !default;
$alt-fg-color: #000 !default;
$link-color: #1565c0 !default;

// Breakpoints
$small-max-width: 768px;
