name: typecheck and linting

on: [push]

jobs:
  typecheck-and-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.17.3

    - name: Install
      run: |
        yarn install
    - name: Build
      env:
        CI: true
      run: |
        yarn run build
    - name: Check Types
      run: |
        yarn run typecheck
    - name: Linting
      run: |
        yarn run lint
    - name: Check Formatting
      run: |
        yarn run check-format
